/* MODIFICADORES DE SEÇÕES */
header
{
    background-color: rgb(47, 90, 104);
    padding: 5px 5px;
    margin: 5px 5px;
}
.header-button {
    display: inline-block;
    width: 140px;
    height: 30px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
}
body
{
    background-color: rgb(177, 158, 96);
    /*background-color: rgb(63, 3, 3)*/
}
main
{
    background-color: rgb(136, 119, 62);
    display: block;
    margin: 10px 20%;
    padding-top: 1px;
    padding-bottom: 1000px;
}


/* MODIFICADORES DE CLASSES */


/* MODIFICADORES DE ID */
sobremim
{
    
}
/* MODIFICADORES DE TAGS ESPECÍFICAS */
h1
{
    text-align: center;
}
img
{
    margin-left: 20px;
    width: 30%;
}