/* MODIFICADORES DE SEÇÕES */
header
{
    background-color: rgb(177, 158, 96);
    padding: 5px 5px;
    margin: 5px 5px;
}
.header-button {
    display: inline-block;
    width: 140px;
    height: 30px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}
body
{
    background-color: rgb(177, 158, 96);
    /*background-color: rgb(63, 3, 3)*/
}
main
{
    background-color: rgb(136, 119, 62);
    display: block;
    margin: 10px 20%;
    padding-top: 1px;
    padding-bottom: 1000px;
}
/* MODIFICADORES DE CLASSES */
.closebtn
{
    background-color: red;
    margin-left: 15px;
}
.alert
{
    background-color: yellow;
    border-radius: 30px;
    margin-top: 3%;
    margin-left: 40%;
    margin-right: 40%;
    padding: 5px;
    position: absolute;
}
.text-alert
{
    font-size: 20px;
    text-align: center;
}
/* MODIFICADORES DE ID */

/* MODIFICADORES DE TAGS ESPECÍFICAS */
h1
{
    text-align: center;
}
article
{
    padding-left: 20px;
}