* {
  /* PROPRIEDADES GLOBAIS */
  padding: 0;
  margin: 0;
}

body {
  /* Estilização Body */
  background-color: rgb(233, 113, 113);
}
header {
  /* Estilização Header  */
  background-color: rgb(225, 180, 180);
  padding: 3px 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;

}

main {
  /* Estilização Main */
  padding: 15% 10%;
  margin: 0px 10px;
  background-color: chocolate;
}

footer {
  /* Estilização Footer */
  background-color: cornflowerblue;
  width: 100%;
  position: absolute;
  bottom: 0;
}

header #text-header {
  display: flex;
  flex-direction: column;
}