body
{
    background-color: rgb(95, 188, 224);
}
.nome
{
    font-family: 'Times New Roman', serif, sans-serif;
    text-align: center;
}
.descricao
{
    text-align: center;
}
#nacionalidade
{
    color: yellow;
}
#cidade-atual
{
    color: green;
}
.hab
{
    font-size: 40px;
}
.hab1
{
    font-size: 15px;
}
.hab2
{
    font-size: 20px;
}
.hab3
{
    font-size: 35px;
    color: red;
}
.hab4
{
    font-size: 40px;
    color: green;
}
.informacoes
{
    position: absolute;
    top: 260px;
    left: 220px;
}
.src_imagem
{
    position: relative;
    width: 200px;
    height: 220px;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
}